Package: tk.ethanrdoesmc.largetitles
Name: LargeTitlesEverywhere
Depends: mobilesubstrate, firmware (>= 11.0), applist
Version: 1.0.1
Architecture: iphoneos-arm
Description: Makes every NavigationBar title use the large style.
Maintainer: EthanRDoesMC
Author: EthanRDoesMC
Section: Tweaks
